<div class="card">
    <div class="card-header">
        <h1>{{title}}</h1>
    </div>
    <div class="card-body">
        <div class="text-center">
            <img src="/NIQ.svg" width="900" height="300">
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quidem commodi porro. Debitis provident
            dolorum harum vero officia minus aliquid iusto, odio doloremque repellat quo. Illum voluptatum eum
            obcaecati, animi modi ratione deserunt ipsam ullam mollitia aperiam! Expedita, deserunt culpa. Pariatur,
            voluptate rem veritatis reprehenderit dolores necessitatibus sint suscipit fuga, placeat praesentium enim
            repudiandae libero repellendus dignissimos quod tempora recusandae magni odio atque! A facere eos ullam esse
            eligendi explicabo. Nulla necessitatibus nesciunt, enim at inventore debitis officia, sed dolore consectetur
            repudiandae, ratione velit placeat natus quidem numquam dignissimos suscipit. Voluptatibus inventore
            recusandae impedit autem eius ea sapiente molestiae facilis asperiores rem praesentium esse adipisci at quo
            hic maiores ab nemo vitae tenetur, ullam nobis ipsa officiis velit. Possimus dolores labore nihil quia
            voluptatum blanditiis repellat quam! Eligendi minima ea pariatur totam dolor aut autem, laudantium in
            incidunt quod. Fugit necessitatibus possimus ducimus aperiam? Deserunt voluptate repudiandae quas, minima
            quidem inventore quos optio eveniet voluptatibus dignissimos necessitatibus temporibus sapiente, quae
            blanditiis, suscipit facilis vero cum quisquam itaque quod error veniam quasi! Saepe aperiam iure voluptas
            maiores harum blanditiis vitae sint mollitia omnis quaerat ipsa voluptatibus nam facilis praesentium
            adipisci natus voluptatum quibusdam amet nostrum, id perspiciatis labore. Nisi ducimus obcaecati sunt, eius
            numquam similique iusto! Iusto velit eligendi dignissimos dolor earum eius, obcaecati amet ea ut repellendus
            dolore, sint delectus suscipit neque! Iure cumque sed eius soluta suscipit, quibusdam officiis aperiam alias
            dolorum unde voluptas sequi sint, quo aliquam optio fugit labore obcaecati provident facilis incidunt?
            Blanditiis incidunt officia mollitia odit vel quae distinctio velit nobis corporis aliquam possimus
            consequuntur quisquam culpa, repudiandae, neque placeat, fugiat illo tenetur! Saepe doloremque corrupti non
            soluta eum dolorem dolorum odio voluptatibus eius praesentium libero ex similique mollitia, possimus aliquam
            eos rerum, hic qui ab? Debitis fugiat iste nihil, itaque nemo perspiciatis dicta eveniet est iusto quo totam
            ipsam, facere voluptatibus ab quam obcaecati amet reiciendis iure odit minima, neque eos veniam cupiditate
            ut. Veritatis eveniet quis corrupti. Assumenda, consequatur labore quibusdam quia eligendi placeat. Impedit
            illum perferendis praesentium rem similique labore nesciunt fugit quod est quo aliquid molestiae, nisi sint
            architecto culpa a ea beatae quidem magnam suscipit ullam cumque earum magni? Minima, omnis incidunt!
            Reprehenderit animi consequatur quod, ducimus ut accusantium quas distinctio quidem voluptate impedit a
            porro fuga, eos in suscipit numquam alias tempora repellat? Nihil quo expedita eum non, nam omnis neque
            atque fugit possimus nobis, debitis perferendis ut? Excepturi distinctio doloribus esse dolore odit! Impedit
            ratione libero labore quis voluptate in sed similique deserunt, placeat temporibus! Veritatis libero
            distinctio, deserunt voluptatibus tenetur ducimus aut sint earum in magnam vero, cupiditate repellendus est,
            vel itaque possimus perspiciatis neque. Cumque nesciunt sed doloribus consectetur et blanditiis accusantium
            amet deleniti? Quasi architecto obcaecati, accusantium minus praesentium nihil ducimus veritatis iste
            reprehenderit repudiandae enim consequuntur consectetur eius delectus unde quod magnam amet hic velit
            quisquam doloribus ab neque beatae quo. Doloribus nisi cum laboriosam suscipit cumque vel distinctio.
            Temporibus quasi amet ad reprehenderit aliquid fuga, cupiditate sequi magnam optio qui. Officia, sint sunt.
        </p>
    </div>
    <div class="card-footer">
        copyright-2024
    </div>
</div>